
   
  <div class="container pt-5">
  <div class="title">
 
  <div class="line ml-4"></div>
  <h1 class="text mb-3 ml-4">
    {{content.title}}
    </h1>
  </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row w-100 mx-auto">
      <div class="carousel-item col-md-4 active">
        
        <div class="card">
          <img class="card-img-top img-fluid mb-4" src="../../images/burger.jpg" alt="Card image cap">
          <div class="col-sm-12">
            <div class="category-card col-md-6 col-6">
            DINNING IN
            </div>
            <div class="time-card col-md-6">
              <span class="fa fa-clock-o"></span>
            1 MINUTE
            </div>
        </div>
          <div class="card-body">
            <h4 class="card-title">Card 1</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button>Thai</button>
            <button>Recipe</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid mb-4" src="../../images/burger.jpg" alt="Card image cap">
          <div class="col-md-12">
            <div class="category-card col-md-6">
            DINNING IN
            </div>
            <div class="time-card col-md-6">
              <span class="fa fa-clock-o"></span>
            1 MINUTE
            </div>
        </div>
          <div class="card-body">
            <h4 class="card-title">Card 1</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button>Thai</button>
            <button>Recipe</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid mb-4" src="../../images/burger.jpg" alt="Card image cap">
          <div class="col-md-12">
            <div class="category-card col-md-6">
            DINNING IN
            </div>
            <div class="time-card col-md-6">
              <span class="fa fa-clock-o"></span>
            1 MINUTE
            </div>
        </div>
          <div class="card-body">
            <h4 class="card-title">Card 1</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button>Thai</button>
            <button>Recipe</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid mb-4" src="../../images/burger.jpg" alt="Card image cap">
          <div class="col-md-12">
            <div class="category-card col-md-6">
            DINNING IN
            </div>
            <div class="time-card col-md-6">
              <span class="fa fa-clock-o"></span>
            1 MINUTE
            </div>
        </div>
          <div class="card-body">
            <h4 class="card-title">Card 1</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button>Thai</button>
            <button>Recipe</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid mb-4" src="../../images/burger.jpg" alt="Card image cap">
          <div class="col-md-12">
            <div class="category-card col-md-6">
            DINNING IN
            </div>
            <div class="time-card col-md-6">
              <span class="fa fa-clock-o"></span>
            1 MINUTE
            </div>
        </div>
          <div class="card-body">
            <h4 class="card-title">Card 1</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button>Thai</button>
            <button>Recipe</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid mb-4" src="../../images/burger.jpg" alt="Card image cap">
          <div class="col-md-12">
            <div class="category-card col-md-6">
            DINNING IN
            </div>
            <div class="time-card col-md-6">
              <span class="fa fa-clock-o"></span>
            1 MINUTE
            </div>
        </div>
          <div class="card-body">
            <h4 class="card-title">Card 1</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button>Thai</button>
            <button>Recipe</button>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid mb-4" src="../../images/burger.jpg" alt="Card image cap">
          <div class="col-md-12">
            <div class="category-card col-md-6">
            DINNING IN
            </div>
            <div class="time-card col-md-6">
              <span class="fa fa-clock-o"></span>
            1 MINUTE
            </div>
        </div>
          <div class="card-body">
            <h4 class="card-title">Card 1</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button>Thai</button>
            <button>Recipe</button>
          </div>
        </div>
      </div>
     
    </div>
     <div class="more">
    <center><button>Read More</button></center>
</div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script><br />
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script><br />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script><br />
<script>
   (function($){
	   "use strict";
	   $('.next').click(function(){ $('.carousel').carousel('next');return false; });
	   $('.prev').click(function(){ $('.carousel').carousel('prev');return false; });
   })	
   (jQuery);
</script></p>

<p>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script><br />
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script><br />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script><br />
<script>
   (function($){
	   "use strict";
	   $('.next').click(function(){ $('.carousel').carousel('next');return false; });
	   $('.prev').click(function(){ $('.carousel').carousel('prev');return false; });
   })	
   (jQuery);
</script></p>