---
layout: default.hbs
---
<div class="container-headline col-xs-12 col-md-12">
    <div class="banner col-xs-12 col-md-12">
        <h1 class="text-banner">Explore the world of the MICHELIN Guide</h1>
        <div class="content-text"><p>Find your next culinary experience from over 2,806 restaurants from 22 Selections around the world</p></div>
        <div class="form-group has-search">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control" placeholder="Search for Restaurants, Chefs ...">
        </div>
    </div>
</div>
{{>slider content=slider}}
{{>slider content=slider}}